*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "system-ui";
}

header {
  border-bottom: 1px solid black;
  padding: 1rem 0;

  nav {
  display: flex;
  justify-content: space-around;

  a {
    color: inherit;
    font-size: 3rem;
    font-weight: bolder;
  }
}
}

main, footer {
  padding: 1rem 0;
}

main {
  min-height: 90vh;
  max-width: 90%;
  margin: 0 auto;
  
  section {
    h2 {
      text-decoration: underline;
      margin-bottom: 1rem;
    }
  }
}

footer {
  text-align: center;
  border-top: 1px solid black;
}
